name: CI

on:
  workflow_call:
    outputs:
      publish:
        description: "whether this version should be published (yes|no)"
        value: ${{ jobs.check.outputs.publish }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      publish: ${{ steps.check.outputs.publish }}

    steps:
      - uses: actions/checkout@v6

      - name: Install system deps (ALSA required by cpal/alsa-sys)
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Check crates.io version
        id: check
        run: bash ./scripts/check-version
